@import './../helpers/mixins';

.hero{
    background: url('./../../img/background.png') no-repeat;
    background-size: cover;
    &_main{
        background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);
        height: 535px;
        padding-top: 260px;
        &-title{
            margin-top: 260px;
        }
        h1{
            @include font(72px, bold, 86px);
            text-align: center;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #FFFFFF;
        }
        p, h4{
            @include font(24px, 600, 36px);
            text-align: center;
            color: #FFFFFF;
            width: 540px;
            margin: 0 auto;
        }
    }
}

@media screen and (max-width: 992px){
    .hero_main{
        height: 450px;
        padding-top: 130px;
        h1{
            @include font(60px, bold, 70px);
        }
        p, h4{
            @include font(18px, 600, 30px);
            width: 450px;
        }
    }
}

@media screen and (max-width: 768px){
    .hero_main{
        height: 330px;
        padding-top: 100px;
        h1{
            @include font(48px, bold, 60px);
        }
        p, h4{
            @include font(13px, 600, 25px);
            width: 370px;
        }
    }
}